.service {
    border-bottom: #3A3A3A solid 4px;
    padding-bottom: 30px;
}

.service img {
    max-height: 460px;
}

.service p{
    font-family: var(--font-roboto);
    margin-top: 24px;
    color: #f3f3f3;
    font-size: 16px;
    font-weight: 400;
    margin-top: 22px;
}

.serviceTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 24;
}

.serviceTitle h2{
    font-family: var(--font-roboto);
    font-size: 32px;
    color: #f3f3f3;
    font-weight: 700;
}

.serviceTitle h3{
    font-family: var(--font-roboto);
    color: #3A3A3A;
    font-size: 70px;
}